# Calculating the body mass of dinosaurs

In this Jupyter Notebook you will write a function that takes a femur length and dinosaur type and returns the predicted body mass of the dinosaur. Then you will write a function that finds the average body mass for a given type of dinosaur.

### Work with your partner on this Notebook

Import numpy and pandas. We won't need pandas for the first part of the activity, but we'll need it later.

In [10]:
import numpy as np
import pandas as pd

Here are the equations for converting femur length (FL) to body mass (in kg) for each dinosaur type:

In [ ]:
#ornithischian: 10**(3.0587*np.log10(FL)-2.7042)/1000

#sauropod: 10**(2.3459*np.log10(FL)-0.2935)/1000

#theropod: 10**(3.1854*np.log10(FL)-3.184)/1000

Using these formulas, create a function that takes *two arguments:* the **dinosaur type** and the **femur length in mm** and *returns* the **dinosaur's body mass**

In [11]:
def bodyMass(dinosaurType,FL):
    bodyMass=0
    if dinosaurType =="ornithischian":
        bodyMass=10**(3.0587*np.log10(FL)-2.7042)/1000
    elif  dinosaurType == "sauropod":
        bodyMass= 10**(2.3459*np.log10(FL)-0.2935)/1000
    elif dinosaurType == "theropod" :
        bodyMass=  10**(3.1854*np.log10(FL)-3.184)/1000
    
    
    return bodyMass

Now, call your function with the information for your dinosaur and print the result:

In [12]:
bodyMass("theropod",1000)

2356.1340739338502

For reference, here is the average body mass in kg of a few animals:
- golden retreivers: 27 kg
- humans: 62 kg
- elephants: 4500 kg
- blue whales: 110,000 kg

## Part 2: Working with a larger dataset
In the next part of the notebook, you will work with a data set that contains the femur lengths for a number of dinosaurs of each type.

Create a variable and read in the CSV file to create a dataframe:

In [16]:
df= pd.read_csv("Dinosaur_FemurLength.csv")

Find the header for this data frame:

In [17]:
df.head()

          Clade          Genus    Species  Femur length (mm)
0  Ornithischia   Anatosaurus*     copei*             1150.0
1  Ornithischia   Bactrosaurus   johnsoni              790.5
2  Ornithischia  Corythosaurus  casuarius             1080.0
3  Ornithischia  Edmontosaurus  annectens             1068.5
4  Ornithischia  Edmontosaurus    regalis             1245.0

Find the number of rows in this data frame:

In [18]:
len(df)

77

Next, create a function that takes *one argument:* the **dinosaur type** and *returns* the **average body mass** for that dinosaur type.

(Note: You do not need to specify the data frame as an argument, because we are only working with a single data frame)

Hints: 
- You will need to use the .loc[] index command that we learned for the Astrophysics unit project.
- The three dinosaur types (Clades) in this data set are: Ornithischia, Sauropodomorpha, and Theropoda

In [20]:
def avgbodyMass(dtype):
    df_clade = df.loc[[df["Clade"]]==dtype].copy()
    if dtype == "ornithischia":
        df_clade["bodymass"] = 10**(3.0587*np.log10(df_clad["Femur Length (mm)"])-2.7042)/1000
        elif dtype == "Sauropodomorpha":
            df_clade["bodymass"]
    
    avg_bmass= df_clade["body mass"].mean()
    
    return avg_bmass

Test out your function! Call it for each dinosaur type and print the result:

## Bonus Challenge
Make a bar graph that compares the average body mass for each dinosaur type: