In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("animal_brains.csv")
df.head()

,Animal,Olfactory Bulbs (mm),Cerebrum (mm),Optic Lobes (mm),Cerebellum (mm),Volume (cm3)
0,Human,11,123,0,97.0,1130.00
1,Rat,18,61,30,60.4,0.59
2,Alligator (adult),9,17,10,7.0,5.65
3,Alligator (baby),5,15,10,7.0,1.71
4,Bald Eagle,6,40,25,9.0,18.04

In [9]:
def regiontoratio(df,animaltype,brainregion):
    animal_df = df.loc[df["Animal"] == animaltype].copy()
    ratio = float(animal_df[brainregion]/animal_df["Volume (cm3)"])
    print(animal_df)
    return ratio

In [8]:
regiontoratio(df,"Rat","Olfactory Bulbs (mm)")

  Animal  Olfactory Bulbs (mm)  Cerebrum (mm)  Optic Lobes (mm)  \
1    Rat                    18             61                30

   Cerebellum (mm)  Volume (cm3)
1             60.4          0.59

30.508474576271187