# Clinometer activity Pt 2: Calculating the class average

In this notebook you'll create a pandas dataframe with data from the entire class. You will practice using pandas functions and learn how to convert a CSV file to a pandas dataframe.

Start by importing pandas and numpy

In [3]:
import numpy as np
import pandas as pd

Next, let's open our data file and convert it to a pandas dataframe. 

This time our dataset is in a CSV file so we can use the pd.read_csv() function:

In [5]:
df=pd.read_csv("clinometer_data.csv")

Let's take a look at the data! Find the first 5 rows of data:

In [7]:
df.head(5)

   Unnamed: 0  student height  distance to building  clinometer angle
0         NaN          1.6400                  20.0                28
1         NaN          1.6800                  53.0                34
2         NaN          1.6000                  55.0                35
3         NaN          1.6764                  52.3                31
4         NaN          1.7680                  54.4                24

Now check the data type of all the columns in the dataframe:

In [9]:
df.dtypes

Unnamed: 0              float64
student height          float64
distance to building    float64
clinometer angle          int64
dtype: object

The first column contains the height of everyone in the class.

Isolate this column using an index and assign it to a variable. Hint: You'll need to include the column name in the index.

In [10]:
height =df["student height"]
print(height)

0    1.6400
1    1.6800
2    1.6000
3    1.6764
4    1.7680
5    1.5400
6    1.6764
7    1.6760
8    1.6000
9    1.6760
Name: student height, dtype: float64

Now, print out the average class height:

In [11]:
height.mean()

1.6532799999999999

## Adding columns: calculating theta
To make our data useful, we need to add some more columns. Let's create a column for theta first.

Recall that theta = np.deg2rad(degrees).

In [12]:
# Create a new column called "theta" 
# Hint: You will need to use a dataframe index as the argument for the np.deg2rad() function.
theta =df["clinometer angle"]

Check to make sure that you've added your new column correctly:

In [13]:
print(theta)

0    28
1    34
2    35
3    31
4    24
5    30
6    23
7    44
8    28
9    37
Name: clinometer angle, dtype: int64

Next, let's add a "building height" column. 

Remember that opposite = adjacent * np.tan(theta) and that the building height is opposite + student height.

In [ ]:
# Create a new column called "building height"
# Hint: You will need to use THREE dataframe indexes to define this column

Check to make sure that you've added your new column correctly:

Now, find the average planetarium height for the entire class: