# Analyzing our Planet Earth data

Let's use Python to input and analyze the data we collected in the Hall of Planet Earth.

**Reminder: To run the code in a Jupyter Notebook cell, click inside the cell and press "shift" and "return" on your keyboard at the same time.**

## Working with numerical earth science data

Assign the percent of each ore that contains the mineral to each variable below:

In [2]:
# Hint: You do not need to include the % sign .
chromium = 25
vanadium = 2
platinum = 0.0008

Now print out each of these variables:

In [6]:
print(chromium)
print(vanadium)
print(platinum)

25
2
0.0008

Next, assign the percent of vanadium ore that **does not** contain the mineral vanadium to a new variable and then print it out (try to use one of the variables you created above!):

In [10]:
# Hint: You will need to use subtraction
without_V = 100 - vanadium
print(without_V)

98

Now convert the percent value you calculated above into a decimal and print the result:

In [11]:
# Hint: You will need to use division
print(without_V / 100)

0.98

Can you identify which of the values you worked with above are integers and which are floats?

## Working with textual earth science data

Assign the name of each type of lava you learned about to a variable below:

In [21]:
# Hint: Remember that strings need to be in quotes!
lava1 = "AA lava"
lava2 = "lava tree"

Now print out each of these variables:

In [22]:
print("AA lava")
print("lava tree")

AA lava
lava tree

You can add strings together to make one long print statement, even if some of those strings are stored in variables. 

Assign your favorite object from the Hall of Planet Earth as a string to the variable called "item" below and then run the cell below to see how it works:

In [20]:
item = "igneous rock"
print("The " + item + " is one of the exhibited objects that helps us learn about planet Earth!")

The igneous rock is one of the exhibited objects that helps us learn about planet Earth!

Now try printing out a sentence that tells the reader what the two types of lava are, using the two variables you created above:

In [28]:
print("The", lava1, "and", lava2,  "are two types of lavas that can be found in volcanos")

The AA lava and lava tree are two types of lavas that can be found in volcanos

## Mixing different types of earth science data

Create a variable for each piece of data related to the deformed rocks from Wingdale, NY and decide whether the value should be a string, a float, or an integer:
- Where the rock was found
- Type of rock
- Rock age
- Temperature at which the rock formed
- Depth at which the rock formed

In [32]:
# Hint: do not include units for numbers in the value itself. 
# You can add that information to the variable name or as a comment
Location = "Wingdale, NY"
identity = "schist"
age

Print out a sentence that explains where the rocks were found and what kind of rock they are, using one or more of the variables you defined above:

In [33]:
print("The rocks can be found in ", Location , "and they can be classified as", identity)

The rocks can be found in  Wingdale, NY and they can be classified as schist

Print out the difference between the deformed rock's temperature at formation and the boiling point of water (100 degrees Celsius), using one or more of the variables you defined above:

In [34]:
Formation_centigrade = 55
Boil_celcius = 100
print(Boil_celcius - Formation_centigrade)

45

Create two new variables that contain the age (amount of time it has been moving) and length of the San Andreas Fault:

In [35]:
old = 30000000
length_km = 1200

Print out the difference in age between the deformed rocks and the San Andreas Fault:

How much longer is the San Andreas Fault than the depth of the deformed rock's formation? Print out the difference:

## Bonus Challenge 1
If you finish everything above, try this bonus challenge

Create three new variables with information from your data collection sheet and experiment with adding, subtracting, and printing these variables:

In [ ]:
# Hint: Think about which data types can be added together

## Bonus Challenge 2
If you finish everything above, try this bonus challenge

Run the two cells below to learn about functions that can change the data type of a value:

In [ ]:
var1 = 5
var2 = "100"
var3 = 3.2

print(type(var1))
print(type(var2))
print(type(var3))

In [ ]:
#The type() function tells you the data type of a value
var1_b = float(var1)
print(var1_b)

var2_b = int(var2)
print(var2_b)

var3_b = str(var3)
print(var3_b)

Print out the type of the three new variables (var1_b, var2_b, and var3_b) using the type( ) function:

Here's a summary of the functions you just used:
- str() turns a value into a string
- int() turns a value into an integer
- float() turns a value into a float

Not all values can be turned into all types. Try running the code below:

In [ ]:
print(int("Rocks rock!"))

Now try it yourself! Create your own variables and try changing their types: